@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
}
body{
    max-width: 1440px;
    margin: 0 auto;
    padding: 1.25rem;
    line-height: 2;
}
ul{
    list-style-type:none;
}
img{
    max-width: 100%;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 0;
}
ul{
    display: flex;
    flex-direction: row;
    gap: 4.25rem;
}
li{
    color: hsl(236, 13%, 42%);
    font-weight: 400;
    font-size: 1.05rem;
}
li:hover{
    color: hsl(35, 77%, 62%);
    cursor: pointer;
}
section{
    display: flex;
    gap: 2.2rem;

}
section > div:last-child{
    background: hsl(240, 100%, 5%);
    padding: 1.5rem;
    width: 33.3%;
}
section > div:last-child h2{
    color: hsl(35, 77%, 62%);
    font-size: 2.5rem;
    padding: 0 1.25rem;
}
section > div:last-child article h3{
    font-size: 1.5rem;
    color: #fff;
}
section > div:last-child article h3:hover{
    color: hsl(35, 77%, 62%);
    cursor: pointer;
}
section > div:last-child article p{
    font-size: 1.25rem;
    color: hsl(233, 8%, 79%);
}
section > div:last-child article:not(:last-child){
    border-bottom: 1px solid hsl(233, 8%, 79%);
    padding: 1.25rem;
}
section > div:last-child article{
    padding: 1.25rem;
}
section > div:first-child{
    display:flex;
    flex-direction: column;
    width: 66.6%;
}
.section-content{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    gap: 8.5rem;
}
.title h1{
    font-weight: 900;
    line-height: normal;
    font-size: 3.5rem;
}
.read-more{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.read-more p{
    color: hsl(233, 8%, 79%);
    font-size: 1.25rem;
}
.read-more button{
    border: none;
    background-color: hsl(5, 85%, 63%);
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .25rem;
    padding: 1.25rem 2rem;
}
.read-more button:hover{
    background: hsl(240, 100%, 5%);
    cursor: pointer;
}
.cards{
    margin: 3.5rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.card{
    display: flex;
    gap: 1.25rem;
}
.card-img img{
    max-width: 150px;
}
.card-content h3{
    font-size: 2.5rem;
    font-weight: 900;
    color: hsl(233, 8%, 79%);
}
.card-content h4{
    font-size: 1.25rem;
}
.card-content p{
    color: hsl(233, 8%, 79%);
}
.open-menu{
    display: none;
}
.close-menu{
    display: none;
}
@media (max-width: 768px){
    ul{
        display: none;
    }
    .open{
        display: flex;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        gap: .75rem;
        right: 0;
        background: #fff;
        width: 75vw;
        top: 0;
        height: 100vh;
    }
    li{
        padding: 0 1.25rem;
    }
    section{
        display: flex;
        flex-direction: column;
    
    }
    .section-content {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    section > div:first-child {
        display: flex;
        flex-direction: column;
        width: auto;
    }
    section > div:last-child {
        width: auto;
    }
    .cards{
        grid-template-columns: repeat(1, 1fr);
    }
    .open-menu{
        display: block;
        border: none;
        background: transparent;
        z-index: 99;
    }
    .close-menu{
        border: none;
        background: transparent;
        display: none;
        z-index: 99;
    }
    
}